Host github.com
        User git
        Hostname github.com
        User user
        PreferredAuthentications publickey
        IdentityFile ~/.ssh/key1
Host github.com
        User git
        Hostname github.com
        User user
        PreferredAuthentications publickey
        IdentityFile ~/.ssh/key2
Host gitlab.com
        User git
        Hostname gitlab.com
        User user
        PreferredAuthentications publickey
        IdentityFile ~/.ssh/key3
