Host github.com
        User git
        Hostname github.com
        User hnktt
        PreferredAuthentications publickey
        IdentityFile ~/.ssh/github
Host github.com
        User git
        Hostname github.com
        User enclosureme
        PreferredAuthentications publickey
        IdentityFile ~/.ssh/enclosure
Host gitlab.com
        User git
        Hostname gitlab.com
        User hnktt
        PreferredAuthentications publickey
        IdentityFile ~/.ssh/simplon
