[Desktop Entry]
Name=Discord (Chromium)
StartupWMClass=discord
Comment=All-in-one voice and text chat for gamers that's free, secure, and works on both your desktop and phone.
GenericName=Internet Messenger
Exec=chromium --enable-features=UseOzonePlatform --ozone-platform=wayland --enable-features=WebRTCPipeWireCapturer --app=https://discord.com/app
Icon=discord
Type=Application
Categories=Network;InstantMessaging;
Path=/usr/bin
